<div class="about-main">
  <h2>Tentang TweetApp</h2>
  <p>
    TweetApp adalah layanan jejarin sosial.
    Para pengguna dapat posting dan berinteraksi dengan pesan singkat yang disebut "twit".
  </p>
  <img src="/tweet.png" class="about-img" alt="">
</div>